{% extends "layout.html" %}

{% block content %}
<div class="btn-group">
  <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">
    <em class="glyphicon glyphicon-plus"></em> 添加订阅
  </button>
  <br>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      我的订阅
    </h3>
  </div>
  <div class="panel-body">
    {% for sub in subscriptions %}
    <div>
      <p><a href={{ sub.url }} title="访问订阅链接"> {{ sub.ghName }}'s {{sub.name}} 教程</a>
      <a href={{ sub.rmlink }} class="btn btn-default btn-xs" role="button" style="float: right;" title="移除这个订阅">
        <em class="glyphicon glyphicon-remove"></em>
      </a><br>
      </p>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">添加订阅</h4>
        </div>
        <div class="modal-body">
          <p>格式：https://*.gitbooks.io/*/content/</p>
          <form action="/add_sub" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="new_sub">
            </div>
            <button class="btn btn-primary" type="submit">提交</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#list"> 学员教程不完全列表 </button>
            <div id="list" class="collapse">
              <ul style="font-size:12px;">
              <br>
              <li>https://wp-lai.gitbooks.io/learn-python/content/</li>
              <li>https://shawn0lee0.gitbooks.io/python-omooc2py/content/</li>
              <li>https://JeremiahZhang.gitbooks.io/omooc2py/content/</li>
              <li>https://bambooom.gitbooks.io/omooc2py/content/</li>
              <li>https://huijuannan.gitbooks.io/omooc2py/content/</li>
              <li>https://huijuannan.gitbooks.io/omooc2py/content/</li>
              <li>https://cxiaodian.gitbooks.io/omooc2py/content/</li>
              <li>https://hysic.gitbooks.io/hysic-s-python-journey/content/</li>
              <li>https://wzzlj.gitbooks.io/wzzljomooc2py/content/</li>
              <li>https://liznut.gitbooks.io/omooc2py/content/</li>
              <li>https://xpgeng.gitbooks.io/omooc2py/content/</li>
              <li>https://zoejane.gitbooks.io/zoe-py-tutorial/content/</li>
              <li>https://wong-github.gitbooks.io/omooc2py/content/</li>
              <li>https://fqlxxxxx.gitbooks.io/learnpython/content/</li>
              <li>https://jasonycliu.gitbooks.io/omooc2py/content/</li>
              <li>https://sunoonlee.gitbooks.io/omooc2py/content/</li>
              <li>https://liangpeili.gitbooks.io/omooc2py/content/</li>
              <li>https://awlter.gitbooks.io/omooc2py/content/</li>
              <li>https://penguinjing.gitbooks.io/omooc2py/content/</li>
              <li>https://wwshen.gitbooks.io/omooc2py/content/</li>
              <li>https://veratulips.gitbooks.io/omooc2py/content/</li>
              <li>https://jasonycliu.gitbooks.io/omooc2py/content/</li>
              <li>https://awlter.gitbooks.io/omooc2py/content/</li>
              <li>https://suluren.gitbooks.io/omooc2py/content/</li>
              <li>https://storytelr.gitbooks.io/omooc2py/content/</li>
              <li>https://doreenduo43.gitbooks.io/omooc2py/content/</li>
              <li>https://cherhu.gitbooks.io/gopython/content/</li>
              <li>https://iris-di.gitbooks.io/omooc2py/content/</li>
              <li>https://zengyumi.gitbooks.io/omooc2py/content/</li>
              以上为芝麻星排行榜中的全部有效教程链接，更多链接详见课程仓库issue
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}